<!doctype html>
<html ng-app="myApp">
<head>
    <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script src="Scripts/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/GbyG.js"></script>
</head>
<body ng-controller="GetSamples">
    <section>
        <ul class="nav nav-pills">
            <li> <a ng-href="#" ng-click="getAllSamplesByStatusUser()">Samples, with status and user</a></li>
            <li> <a ng-href="#" ng-click="getSamplesByStatus()">Samples by status</a></li>
            <li> <a ng-href="#" ng-click="getSamplesByUserMatch()">Samples by User</a></li>
        </ul>
    </section>

    <div class="panel" ng-show="tab===1">
        <table st-table="rowCollection" class="table table-striped">
            <thead>
                <tr>
                    <th>SampleId</th>
                    <th>Barcode</th>
                    <th>CreatedAt</th>
                    <th>CreatedBy</th>
                    <th>StatusId</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in dataset">
                    <td>{{row.Sample.SampleId}}</td>
                    <td>{{row.Sample.Barcode}}</td>
                    <td>{{row.Sample.CreatedAt | date:'MM/dd/yyyy'}}</td>
                    <td>{{row.Sample.CreatedBy}}</td>
                    <td>{{row.Sample.StatusId}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="panel" ng-show="tab===2">
        <div>
            <table st-table="rowCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th>SampleId</th>
                        <th>Barcode</th>
                        <th>CreatedAt</th>
                        <th>CreatedBy</th>
                        <th>StatusId</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in dataset">
                        <td>{{row.SampleId}}</td>
                        <td>{{row.Barcode}}</td>
                        <td>{{row.CreatedAt | date:'MM/dd/yyyy'}}</td>
                        <td>{{row.CreatedBy}}</td>
                        <td>{{row.StatusId}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel" ng-show="tab===3">
        <div>
            <table st-table="rowCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th>SampleId</th>
                        <th>Barcode</th>
                        <th>CreatedAt</th>
                        <th>CreatedBy</th>
                        <th>StatusId</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in dataset">
                        <td>{{row.SampleId}}</td>
                        <td>{{row.Barcode}}</td>
                        <td>{{row.CreatedAt | date:'MM/dd/yyyy'}}</td>
                        <td>{{row.CreatedBy}}</td>
                        <td>{{row.StatusId}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>